.message{
    padding-top: 0.5rem /* 8px */;
}

.context{
    font-size: 3rem ;
}
.contact-container{
    margin-top: 2.5rem /* 40px */;
    padding-top: 6rem /* 96px */;
    padding-bottom: 6rem /* 96px */;
}


@media screen and (min-device-width: 300px) and (max-device-width: 600px){
    .message{
        padding-top: 0.2rem ;
    }

    .context{
        justify-content: center;
        font-size: 2rem;
    }
    .contact-container{
        margin-top: 0rem /* 40px */;
        padding-top: 1.5rem /* 96px */;
        padding-bottom: 2rem /* 96px */;
    }

}