.coursecon{
    padding-left: 8.5em;
    padding-right: 8.5em;
    padding-top: 8rem /* 128px */;
    padding-bottom: 8rem /* 128px */;
}
.course-heading{
    font-size: 3rem;
}
.course-sub{
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    margin-bottom: 2.5rem /* 40px */;
}
.course-img{
    height: 40vh;
}
.course-price{
    width: 35vw;
}
.price-only{
    font-size: 1.5rem;
}
.course-description{
    margin-left: 1.25rem /* 20px */;
    margin-right: 1.25rem /* 20px */;
}
@media screen and (min-device-width: 300px) and (max-device-width: 500px){
    .coursecon{
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4em /* 128px */;
        padding-bottom: 4em /* 128px */;
    }
    .course-heading{
        font-size: 2.5rem;
    }
    .course-sub{
        font-size: 1.3rem /* 30px */;
        line-height: 1.5rem /* 36px */;
        margin-top: 0.5em;
        margin-bottom: 1rem /* 40px */;
    }
    .course-img{
        height: 100%;
    }
    .course-price{
        width: 100%;
    }
    .price-only{
        font-size: 1.3rem;
    }
    .course-description{
        margin-left: 0.2rem ;
        margin-right: 0rem ;
    }

}
@media screen and (min-device-width: 500px) and (max-device-width: 740px){
    .coursecon{
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4em /* 128px */;
        padding-bottom: 4em /* 128px */;
    }
    .course-heading{
        font-size: 2.5rem;
    }
    .course-sub{
        font-size: 1.3rem /* 30px */;
        line-height: 1.5rem /* 36px */;
        margin-top: 0.5em;
        margin-bottom: 1rem /* 40px */;
    }
    .course-img{
        height: 100%;
    }
    .course-price{
        width: 100%;
    }
    .price-only{
        font-size: 1.3rem;
    }
    .course-description{
        margin-left: 1.2rem ;
        margin-right: 0.2rem ;
    }

}
@media screen and (min-device-width: 740px) and (max-device-width: 900px){
    .coursecon{
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4em /* 128px */;
        padding-bottom: 4em /* 128px */;
    }
    .course-heading{
        font-size: 2.5rem;
    }
    .course-sub{
        font-size: 1.3rem /* 30px */;
        line-height: 1.5rem /* 36px */;
        margin-top: 0.5em;
        margin-bottom: 1rem /* 40px */;
    }
    .course-img{
        height: 100%;
    }
    .course-price{
        width: 100%;
       
    }
    .price-only{
        font-size: 1.3rem;
    }
    .course-description{
        margin-left: 0rem ;
        margin-right: 0rem ;
    }

}
@media screen and (min-device-width: 900px) and (max-device-width: 1300px){
    .coursecon{
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 4em /* 128px */;
        padding-bottom: 4em /* 128px */;
    }
    .course-heading{
        font-size: 2.5rem;
    }
    .course-sub{
        font-size: 1.3rem /* 30px */;
        line-height: 1.5rem /* 36px */;
        margin-top: 0.5em;
        margin-bottom: 1rem /* 40px */;
    }
    .course-img{
        height: 100%;
    }
    .course-price{
        width: 100%;
    }
    .price-only{
        font-size: 1.3rem;
    }
    .course-description{
        margin-left: 0rem ;
        margin-right: 0rem ;
    }

}